<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Heatmaps</title>
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
      #panel {
        position: absolute;
        top: 5px;
        left: 50%;
        transform: translate(-50%, 0%);
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
      }
      #word_count_chart {
          position: absolute;
          z-index: 2;
          bottom: 0;
          width: 95%;
          height: 120px;
      }
    </style>
    <script src="//code.jquery.com/jquery-latest.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
    <script type="text/javascript" src="../static/js/epoch.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/epoch.min.css">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=visualization"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>

    <script>
      var map, heatmap;
      var markerFlag = null;
      var markers = [];
      var socket1;

      function initialize() {
        var mapOptions = {
          zoom: 3,
          center: new google.maps.LatLng(37.774546, -122.433523),
          mapTypeId: google.maps.MapTypeId.MAP
        };

        map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

        // fetch data and create inital heat map
        var tweetPoints = new google.maps.MVCArray();
        // heatmap = new google.maps.visualization.HeatmapLayer({
        //     map: map,
        //     data: tweetPoints,
        //     radius: 40
        //   });
        $.getJSON("/api/history/keyword/", function(data){
          $.each(data,function(i,tweet) {
              tweetPoints.push(new google.maps.LatLng(tweet.lat, tweet.lon));
          });
          heatmap = new google.maps.visualization.HeatmapLayer({
            map: map,
            data: tweetPoints,
            radius: 40
          });
        });
      }

      function submitUserChoice()
      {
        var mode = $("#mode option:selected").val();
        var keyword = $("#keyword").val()
        if (mode=="history")
          handleHistory(keyword);
        else if (mode=="realtime")
          handleRealtime(keyword);
        else
          alert("Illegal choice!");
      }

      function handleHistory(keyword)
      {
        var newTweetPoints = new google.maps.MVCArray();
        $.getJSON("/api/history/keyword/"+keyword, function(data){
          $.each(data,function(i,tweet) {
            newTweetPoints.push(new google.maps.LatLng(tweet.lat, tweet.lon));
          });
          heatmap.setData(newTweetPoints);
        });
      }

      function handleRealtime(keyword)
      {
        if (typeof socket1 != 'undefined')
          socket1.disconnect();
        hideMarkers();
        markers = [];
        var newTweetPoints = new google.maps.MVCArray();
        heatmap.setData(newTweetPoints);
        var addr = 'http://' + document.domain + ':' + location.port;
        // alert(addr);
        socket1 = io.connect(addr, {'force new connection':true });
        socket1.emit('keyword', keyword);
        socket1.on('data_transfer', function(data) {
          // alert(data);
          // console.log(data);
          parsedData = $.parseJSON(data);
          newLatLon = new google.maps.LatLng(parsedData.lat, parsedData.lon);
          newTweetPoints.push(newLatLon);
          var marker = new google.maps.Marker({
            position: newLatLon,
            map: markerFlag
          });
          markers.push(marker);
          var iw = new google.maps.InfoWindow({content: parsedData.text});
          google.maps.event.addListener(marker, "click", function (e) { iw.open(map, this); });
        });
        socket1.on('die1', function(exception) {
          alert(exception);
          socket1.disconnect();
        });
      }

      $(function() {  // toggle markers
        $('#toggleMarkers').click(function() {
          $(this).val() == "Show markers" ? showMarkers() : hideMarkers();
        });
      });

      $(function() {  // toggle heatmap
        $('#toggleHeatmap').click(function() {
          $(this).val() == "Show heatmap" ? showHeatmap() : hideHeatmap();
        });
      });

      function setAllMap(map) {
        for (var i = 0; i < markers.length; i++) {
          markers[i].setMap(map);
        }
      }

      function hideMarkers()
      {
        $('#toggleMarkers').val("Show markers");
        setAllMap(null);
        markerFlag = null;
      }

      function showMarkers() {
        $('#toggleMarkers').val("Hide markers");
        setAllMap(map);
        markerFlag = map;
      }

      function hideHeatmap() {
        $('#toggleHeatmap').val("Show heatmap");
        heatmap.setMap(null);
      }

      function showHeatmap() {
        $('#toggleHeatmap').val("Hide heatmap");
        heatmap.setMap(map);
      }

      google.maps.event.addDomListener(window, 'load', initialize);
      

    </script>
  </head>

  <body>
    <div id="panel">
      <select id="mode">
        <option value="realtime">Show real time data</option>
        <option value="history">Show history data</option>
      </select>
      Keyword: <input id="keyword" type="text" value="">
      <button type="submit" onclick="submitUserChoice()">Show tweets</button>
      <input type="button" id="toggleMarkers" value="Show markers"/>
      <input type="button" id="toggleHeatmap" value="Hide heatmap"/>
    </div>
    <div id="word_count_chart" class="epoch"></div>
    <div id="map-canvas"></div>
    <script type="text/javascript">
      var socket2;
      var chart;
      var timestamp = ((new Date()).getTime() / 1000)|0;

      function getWordCount()
      {
        if (typeof socket2 != 'undefined')
          socket2.disconnect();
        var addr = 'http://' + document.domain + ':' + location.port;
        // alert(addr);
        socket2 = io.connect(addr, {'force new connection':true });
        socket2.emit('wordcount_c2s', '');
        socket2.on('wordcount_s2c', function(count) {
          count = parseInt(count);
          // alert(count);
          // console.log(timestamp);
          // console.log(count);
          timestamp++;
          var x = [{time:timestamp, y:count}];
          chart.push(x);
          // console.log(x);
        });
        socket2.on('die2', function(exception) {
          alert(exception);
          socket2.disconnect();
        });
      }

      $(function(){
          chart = $('#word_count_chart')
              .epoch({
                type: 'time.bar',
                data: [{values: [{time: timestamp, y: 0}]}],
                axes: ['left', 'bottom', 'right']
              });
          getWordCount();
      });
    </script>
  </body>
</html>