<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>PubNub x D3</title>
	<meta name="description" content="D3">
	<meta name="author" content="Tomomi Imura  @girlie_mac">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="http://fonts.googleapis.com/css?family=Lobster+Two:400,700italic" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>
	<header></header>

	<fieldset>
		<section id="chart"></section>
		
		<legend>
			Select a data center location:<br>
			<select id="dataCenterPicker">
				<option value="amsterdam">Amsterdam</option> 
				<option value="california">California</option>
				<option value="ireland">Ireland</option>
				<option value="saopaulo">São Paulo</option>
				<option value="tokyo">東京 (Tokyo)</option>
				<option value="virginia">Virginia</option>
			</select>

			<div data-category="North America" class="noram"></div>
			<div data-category="Latin America and the Caribbean" class="latam"></div>
			<div data-category="Europe" class="eu"></div>
			<div data-category="Africa" class="africa"></div>
			<div data-category="Asia" class="asia"></div>
			<div data-category="Oceania" class="oceania"></div>
			<div data-category="Unclassified" class="other"></div>

			<input type="button" id="toggle" value="Stop me!">
		</legend>
	</fieldset>

	<script src="//code.jquery.com/jquery-latest.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	<script src="//cdn.pubnub.com/pubnub.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
	<script type="text/javascript" src="../static/js/app.js"></script>

	
</body>
</html>